@use "~bootstrap/scss/bootstrap";

.gap-1 {
  gap: 1rem;
}

.grid-table {
  display: grid;
  grid-template-columns: minmax(min-content, 100px) 100px auto minmax(min-content, 100px);
  align-items: center;
  line-break: anywhere;
}

.grid-table-title {
  padding: .5rem 0;
}

label {
  margin-bottom: 0;

  &:hover {
    background-color: #e9ecef;
  }
}

.bg-salad {
  background-color: #d8ffe6;
}
